ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

li a:hover {
    background-color: #111;
}

#photoOfMe {
    text-align: center;
}

#photoOfMe img {
    width: 19%;
}

#name p{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: -webkit-xxx-large;
}

#blah {
    font-family: 'Taviraj', serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Maitree', serif;
}

.row {
    text-align: center;
}

#camera {
    text-align: center;
}

#camera img {
    width: 33%;
}

#cigar img {
    width: 100%;
}

#weather img {
    width: 100%;
}

#robot img {

}

#tomato img {
 
}

#socket img {

}

#slider {
    background-image:url("../iLaptop.png");
    background-size:cover;
    /*width: 48%;*/
}   

.mySlides {
    display:none;
}

.w3-left, .w3-right, .w3-badge {
    cursor:pointer;
}

.w3-badge {
    height:13px;
    width:13px;
    padding:0;
}
